# Python
__pycache__/
*.py[cod]
*$py.class
*.pyo
.Python
venv/
.venv/
env/
.env
.env.*
*.egg-info/
.eggs/
*.egg

# Build / dist
dist/
build/
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
*.swo
